@font-face {
  font-family: 'Pokemon';
  src: url("/src/assets/font/pokemonFont.ttf");
}

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  margin-bottom: 20px;
}

#root{
  z-index: -1;
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color : #ED5564;
  margin-bottom: 20px;
  font-family: 'Pokemon', sans-serif;
}

.h1 span {
  color: black;
}

.h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.button {
  background-color: #ED5564;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}

.container::after{
  content: "";
  position: fixed;
  top: 25%;
  left: 85vw;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/img/dresseur.png");
  background-size: 250px;
  background-repeat: no-repeat;
  z-index: -1;
}
.container::before{
  content: "";
  position: fixed;
  top: 27%;
  left: 3vw;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/img/dresseuse.png");
  background-size: 220px;
  background-repeat: no-repeat;
  z-index: -1;
}

.nav{
  height: 8vh;
  width: 100vw;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.pokeball_img{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  position: absolute;
  top: 2.5vh;
  left: 50px;
  animation: rotatePokeball 2s ease-in-out infinite 2s;
}

.link_nav{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 40px;
  text-transform: uppercase;
}



.home_container{
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

.pokemon_card{
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 3px 5px 1px #656565;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.pokemon_card:hover{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  z-index: 3;
}

.pokemon_card div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.error_container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon_container {
  height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.back{
  position: absolute;
  top: 50%;
  left: 50px;
  margin-right: 40px;
  z-index: 999;
  animation: backButton 0.5s ease-in-out infinite alternate;
}

.back:hover{
  cursor: pointer;
  animation-play-state:paused;
}

.pokemon_container_left {
  height: 100%;
  flex: 1;
  background-color: #ED5564;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon_container_right {
  padding-left: 20px;
  background-color: white;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon_info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.pokemon_container_left img{
  width: 200px;
  height: 200px;
}

.pokemon_type_container{
  display: flex;
  gap: 1rem;
}

.pokemon_type {
  width: 70px;
  padding: 5px 0 5px 0;
  border: solid 1px black;
  text-align: center;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 10px;
  text-align: left;
  border-right: 1px solid #ccc;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  border-right: 1px solid #ccc;
}



.search_form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.search_bar {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.search_list{
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: 40px;
  z-index: 4;
  padding: 0;
}

.search_result{
  padding: 5px 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  list-style-type: none;
}

.search_result:hover{
  background-color: #ED5564;
  color: white;
  transition: ease-in-out 0.1s;
}

.link{
  text-decoration: none;
  color: black;
}




@media (max-width: 951px) {
  .home_container{
    gap: 20px;
  }
}

@media (max-width: 823px) {
  .home_container{
    width: 90vw;
  }
}

@media (max-width: 483px) {
  .pokeball_img{
    width: 50px;
    height: 50px;
    top: 1.5vh;
    left: 20px;
  }

  .pokemon_container{
    flex-direction: column;
    height: auto;

  }

  .pokemon_container_left{
    height: 50vh;
    flex-direction: row;
    width: 100vw;
  }

  .pokemon_container_right{
    width: 100vw;
  }

  .back{
    animation-name: mobileBackButton;
    top: 13vh;
    left: 0;
  }

}


























@keyframes backButton {
  from {
    left: 50px
  }

  to {
    left: 60px;
  }
}

@keyframes mobileBackButton {
  from {
    left: 10px
  }

  to {
    left: 20px;
  }
}

@keyframes rotatePokeball {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
